<footer class="footer">
  <div class="social-media">
    <a href="https://facebook.com" target="_blank"
      ><i class="fab fa-facebook"></i
    ></a>
    <a href="https://twitter.com" target="_blank"
      ><i class="fab fa-twitter"></i
    ></a>
    <a href="https://instagram.com" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://youtube.com" target="_blank"
      ><i class="fab fa-youtube"></i
    ></a>
  </div>

  <div class="footer-links">
    <a routerLink="/terms">Terms of Service</a> |
    <a routerLink="/privacy">Privacy Policy</a>
  </div>

  <div class="copyright">
    © {{ currentYear }} Gorum - The Gaming Forum. All Rights Reserved.
  </div>
</footer>
