/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* Ensure the body and html take full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* Make the main app container fill the remaining height */
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Push the footer to the bottom */
  main {
    flex: 1;
  }
  
